<div>
  <span
    class="inline-flex items-center transition duration-500 ease-in-out transform lg:text-2xl tracking-relaxed"
  >
    <svg
      class="w-6 h-6"
      viewBox="0 0 374 374"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle
        cx="187"
        cy="187"
        r="186"
        transform="rotate(129.927 187 187)"
        fill="url(#paint0_linear_4_59)"
      />
      <defs>
        <linearGradient
          id="paint0_linear_4_59"
          x1="315"
          y1="53"
          x2="157"
          y2="187"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#FDFDFE" />
          <stop offset="0.145833" stop-color="#FFBB88" />
          <stop offset="0.286458" stop-color="#FF7CBA" />
          <stop offset="0.432292" stop-color="#887BFF" />
          <stop offset="0.802083" stop-color="#03C7F6" />
          <stop offset="1" stop-color="#111216" />
        </linearGradient>
      </defs>
    </svg>
  </span>
</div>
