<section class="w-full mx-auto mx-full 2xl:max-w-7xl">
  <div
    class="flex items-center justify-center mx-auto w-full p-4 border-8 lg:border-[20px] sm:p-20 border-moonlightBase"
    style="
      background: linear-gradient(
        229.7deg,
        #fdfdfe 14.85%,
        #ffbb88 20.61%,
        #ff7cba 26.17%,
        #887bff 31.93%,
        #03c7f6 46.54%,
        #0f1014 54.36%
      );
    "
  >
    <div
      class="items-center justify-center w-full mx-auto 2xl:max-w-7xl lg:py-20"
    >
      <div class="w-full mx-auto text-left">
        <h1
          class="text-6xl font-black leading-tight uppercase lg:tracking-tighter text-monochromeCloud lg:text-[16.375rem] md:mb-12 fontds"
        >
          Sequoia
        </h1>
        <div class="max-w-xl lg:-mt-16">
          <p
            class="text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold md:mt-5"
          >
         Black, elegant, modern and gentle theme for VS Code.
          </p>
          <div class="flex flex-col w-full max-w-xs mt-4 space-y-2">
            <p class="inline-flex justify-between w-full text-white">
              <a
                href="vscode:extension/wicked-labs.wvsc-serendipity"
                class="font-light no-underline text-monochromeCloud hover:text-white"
              >
                Install on VS Code
              </a>
              ⟶
            </p>
            <p class="inline-flex justify-between w-full text-white">
              <a
                href="./sequoia-color-palette.html"
                class="font-light no-underline text-monochromeCloud hover:text-white"
              >
                Color Palettes
              </a>
              ⟶
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
