<section class="w-full mx-auto overflow-hidden mx-full 2xl:max-w-7xl">
  <div
    class="flex items-center justify-center mx-auto w-full p-4 sm:p-20 "
  >
    <div class="items-center justify-center w-full mx-auto 2xl:max-w-7xl">
      <div class="w-full mx-auto text-left">
        <h1
          class="text-6xl font-black leading-tight uppercase lg:tracking-tighter text-monochromeCloud lg:text-[16.375rem] md:mb-12 font-display"
        >
          Sequoia
        </h1>
        <div class="max-w-xl lg:-mt-16">
          <p
            class="text-monochromeCloud font-light tracking-[0.072rem] leading-loose text-semibold md:mt-5"
          >
            Black, elegant, modern and gentle theme for VS Code.
          </p>
        </div>
        <svg
          class="mt-12"
          width="1354"
          height="191"
          viewBox="0 0 1354 191"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect
            x="1354"
            y="0.0492554"
            width="15"
            height="1354"
            transform="rotate(90 1354 0.0492554)"
            fill="#8EB6F5"></rect>
          <rect
            x="1354"
            y="35.0493"
            width="15"
            height="1354"
            transform="rotate(90 1354 35.0493)"
            fill="#C58FFF"></rect>
          <rect
            x="1354"
            y="70.0493"
            width="15"
            height="1354"
            transform="rotate(90 1354 70.0493)"
            fill="#F58EE0"></rect>
          <rect
            x="1354"
            y="105.049"
            width="15"
            height="1354"
            transform="rotate(90 1354 105.049)"
            fill="#FFBB88"></rect>
          <rect
            x="1354"
            y="175.049"
            width="15"
            height="1354"
            transform="rotate(90 1354 175.049)"
            fill="#FDFDFE"></rect>
          <rect
            x="1354"
            y="140.049"
            width="15"
            height="1354"
            transform="rotate(90 1354 140.049)"
            fill="#9898A6"></rect>
        </svg>
        <div class="max-w-xl mt-12">
          <div class="flex flex-col w-full max-w-sm mt-4 space-y-2">
            <p class="inline-flex justify-between w-full text-white">
              <a
                href="vscode:extension/wicked-labs.sequoia"
                class="font-light no-underline text-monochromeCloud hover:text-white"
              >
                Install on VS Code
              </a>
              ⟶
            </p>

            <p class="inline-flex justify-between w-full text-white">
              <a
                href="/ports"
                class="font-light no-underline text-monochromeCloud hover:text-white"
              >
                Other platforms
              </a>
              ⟶
            </p>
            <p class="inline-flex justify-between w-full text-white">
              <a
                href="./sequoia-color-palette.html"
                class="font-light no-underline text-monochromeCloud hover:text-white"
              >
                Color Palettes
              </a>
              ⟶
            </p>
            <p class="inline-flex justify-between w-full text-white">
              <a
                href="https://github.com/Sequoia-Theme/vs-code"
                class="font-light no-underline text-monochromeCloud hover:text-white"
              >
                GitHub
              </a>
              ⟶
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
