<section class="w-full mx-auto mx-full 2xl:max-w-7xl">
  <div class="p-8 mx-auto sm:p-20">
    <div class="grid h-full grid-cols-1 gap-12 py-12 lg:grid-cols-2">
      <div class="grid grid-cols-1">
        <div
          class="inline-flex items-center justify-between gap-12 text-base font-light leading-none text-monochromeCloud"
        >
          <span>Moonlight</span>
          <p class="ml-auto text-white">
            <a
              href="https://vscode.dev/theme/wicked-labs.sequoia/Sequoia%20Moonlight"
              class="font-light no-underline text-monochromeCloud hover:text-white"
            >
              Preview on VS Code
            </a> &nbsp; ⟶
          </p>
        </div>
        <div class="grid grid-cols-2 gap-4 mt-4 md:grid-cols-3 lg:col-span-2">
          <div
            title="Click to copy"
            class="items-center w-full h-full mx-auto focus:outline-none"
          >
            <div
              class="bg-[#8eb6f5] h-24 w-full border border-moonlightFocusHigh"
            >
            </div>
            <div class="flex flex-col pt-4 text-left">
              <div>
                <p class="text-xs font-light capitalize i text-moonlightText">
                  <span>Blue</span>
                </p>
              </div>
              <div>
                <p class="text-xs font-light text-moonlightText">
                  <span> #8eb6f5</span>
                </p>
              </div>
            </div>
          </div>
          <div
            title="Click to copy"
            class="items-center w-full h-full mx-auto focus:outline-none"
          >
            <div
              class="bg-[#c58fff] h-24 w-full border border-moonlightFocusHigh"
            >
            </div>
            <div class="flex flex-col pt-4 text-left">
              <div>
                <p class="text-xs font-light capitalize i text-moonlightText">
                  <span>Indigo</span>
                </p>
              </div>
              <div>
                <p class="text-xs font-light text-moonlightText">
                  <span> #c58fff</span>
                </p>
              </div>
            </div>
          </div>
          <div
            title="Click to copy"
            class="items-center w-full h-full mx-auto focus:outline-none"
          >
            <div
              class="bg-[#f58ee0] h-24 w-full border border-moonlightFocusHigh"
            >
            </div>
            <div class="flex flex-col pt-4 text-left">
              <div>
                <p class="text-xs font-light capitalize i text-moonlightText">
                  <span>Pink</span>
                </p>
              </div>
              <div>
                <p class="text-xs font-light text-moonlightText">
                  <span> #f58ee0</span>
                </p>
              </div>
            </div>
          </div>
          <div
            title="Click to copy"
            class="items-center w-full h-full mx-auto focus:outline-none"
          >
            <div
              class="bg-[#ffbb88] h-24 w-full border border-moonlightFocusHigh"
            >
            </div>
            <div class="flex flex-col pt-4 text-left">
              <div>
                <p class="text-xs font-light capitalize i text-moonlightText">
                  <span>Orange</span>
                </p>
              </div>
              <div>
                <p class="text-xs font-light text-moonlightText">
                  <span> #ffbb88</span>
                </p>
              </div>
            </div>
          </div>
          <div
            title="Click to copy"
            class="items-center w-full h-full mx-auto focus:outline-none"
          >
            <div
              class="bg-[#9898a6] h-24 w-full border border-moonlightFocusHigh"
            >
            </div>
            <div class="flex flex-col pt-4 text-left">
              <div>
                <p class="text-xs font-light capitalize i text-moonlightText">
                  <span>Stone</span>
                </p>
              </div>
              <div>
                <p class="text-xs font-light text-moonlightText">
                  <span> #9898a6</span>
                </p>
              </div>
            </div>
          </div>
          <div
            title="Click to copy"
            class="items-center w-full h-full mx-auto focus:outline-none"
          >
            <div
              class="bg-[#fdfdfe] h-24 w-full border border-moonlightFocusHigh"
            >
            </div>
            <div class="flex flex-col pt-4 text-left">
              <div>
                <p class="text-xs font-light capitalize i text-moonlightText">
                  <span>Metal</span>
                </p>
              </div>
              <div>
                <p class="text-xs font-light text-moonlightText">
                  <span> #fdfdfe</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-1">
        <div
          class="inline-flex items-center justify-between gap-12 text-base font-light leading-none text-monochromeCloud"
        >
          <span>Monochrome</span>
          <p class="ml-auto text-white">
            <a
              href="https://vscode.dev/theme/wicked-labs.sequoia/Sequoia%20Monochrome"
              class="font-light no-underline text-monochromeCloud hover:text-white"
            >
              Preview on VS Code
            </a> &nbsp; ⟶
          </p>
        </div>
        <div class="grid grid-cols-2 gap-4 mt-4 md:grid-cols-3 lg:col-span-2">
          <div
            title="Click to copy"
            class="items-center w-full h-full mx-auto focus:outline-none"
          >
            <div
              class="bg-[#626983] h-24 w-full border border-moonlightFocusHigh"
            >
            </div>
            <div class="flex flex-col pt-4 text-left">
              <div>
                <p class="text-xs font-light capitalize i text-moonlightText">
                  <span>Kashmir</span>
                </p>
              </div>
              <div>
                <p class="text-xs font-light text-moonlightText">
                  <span> #626983</span>
                </p>
              </div>
            </div>
          </div>
          <div
            title="Click to copy"
            class="items-center w-full h-full mx-auto focus:outline-none"
          >
            <div
              class="bg-[#7C829D] h-24 w-full border border-moonlightFocusHigh"
            >
            </div>
            <div class="flex flex-col pt-4 text-left">
              <div>
                <p class="text-xs font-light capitalize i text-moonlightText">
                  <span>Slate</span>
                </p>
              </div>
              <div>
                <p class="text-xs font-light text-moonlightText">
                  <span> #7C829D</span>
                </p>
              </div>
            </div>
          </div>
          <div
            title="Click to copy"
            class="items-center w-full h-full mx-auto focus:outline-none"
          >
            <div
              class="bg-[#999EB2] h-24 w-full border border-moonlightFocusHigh"
            >
            </div>
            <div class="flex flex-col pt-4 text-left">
              <div>
                <p class="text-xs font-light capitalize i text-moonlightText">
                  <span>Logan</span>
                </p>
              </div>
              <div>
                <p class="text-xs font-light text-moonlightText">
                  <span> #999EB2</span>
                </p>
              </div>
            </div>
          </div>
          <div
            title="Click to copy"
            class="items-center w-full h-full mx-auto focus:outline-none"
          >
            <div
              class="bg-[#B6BAC8] h-24 w-full border border-moonlightFocusHigh"
            >
            </div>
            <div class="flex flex-col pt-4 text-left">
              <div>
                <p class="text-xs font-light capitalize i text-moonlightText">
                  <span>Cadet</span>
                </p>
              </div>
              <div>
                <p class="text-xs font-light text-moonlightText">
                  <span> #B6BAC8</span>
                </p>
              </div>
            </div>
          </div>
          <div
            title="Click to copy"
            class="items-center w-full h-full mx-auto focus:outline-none"
          >
            <div
              class="bg-[#D3D5DE] h-24 w-full border border-moonlightFocusHigh"
            >
            </div>
            <div class="flex flex-col pt-4 text-left">
              <div>
                <p class="text-xs font-light capitalize i text-moonlightText">
                  <span>Cat</span>
                </p>
              </div>
              <div>
                <p class="text-xs font-light text-moonlightText">
                  <span> #D3D5DE</span>
                </p>
              </div>
            </div>
          </div>
          <div
            title="Click to copy"
            class="items-center w-full h-full mx-auto focus:outline-none"
          >
            <div
              class="bg-[#E2E4ED] h-24 w-full border border-moonlightFocusHigh"
            >
            </div>
            <div class="flex flex-col pt-4 text-left">
              <div>
                <p class="text-xs font-light capitalize i text-moonlightText">
                  <span>Cloud</span>
                </p>
              </div>
              <div>
                <p class="text-xs font-light text-moonlightText">
                  <span> #E2E4ED</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="grid grid-cols-1">
        <div class="text-base font-light leading-none text-monochromeCloud">
          <span>Base</span>
        </div>
        <div
          class="grid grid-cols-2 gap-4 mt-4 md:grid-cols-3 lg:grid-cols-9 lg:col-span-2"
        >
          <div
            title="Click to copy"
            class="items-center w-full h-full mx-auto focus:outline-none"
          >
            <div
              class="bg-[#0F1014] h-24 w-full border border-moonlightFocusHigh"
            >
            </div>
            <div class="flex flex-col pt-4 text-left">
              <div>
                <p class="text-xs font-light capitalize i text-moonlightText">
                  <span>Base</span>
                </p>
              </div>
              <div>
                <p class="text-xs font-light text-moonlightText">
                  <span> #0F1014</span>
                </p>
              </div>
            </div>
          </div>
          <div
            title="Click to copy"
            class="items-center w-full h-full mx-auto focus:outline-none"
          >
            <div
              class="bg-[#111216] h-24 w-full border border-moonlightFocusHigh"
            >
            </div>
            <div class="flex flex-col pt-4 text-left">
              <div>
                <p class="text-xs font-light capitalize i text-moonlightText">
                  <span>Interface</span>
                </p>
              </div>
              <div>
                <p class="text-xs font-light text-moonlightText">
                  <span> #111216</span>
                </p>
              </div>
            </div>
          </div>
          <div
            title="Click to copy"
            class="items-center w-full h-full mx-auto focus:outline-none"
          >
            <div
              class="bg-[#131317] h-24 w-full border border-moonlightFocusHigh"
            >
            </div>
            <div class="flex flex-col pt-4 text-left">
              <div>
                <p class="text-xs font-light capitalize i text-moonlightText">
                  <span>Overlay</span>
                </p>
              </div>
              <div>
                <p class="text-xs font-light text-moonlightText">
                  <span> #131317</span>
                </p>
              </div>
            </div>
          </div>
          <div
            title="Click to copy"
            class="items-center w-full h-full mx-auto focus:outline-none"
          >
            <div
              class="bg-[#43444D] h-24 w-full border border-moonlightFocusHigh"
            >
            </div>
            <div class="flex flex-col pt-4 text-left">
              <div>
                <p class="text-xs font-light capitalize i text-moonlightText">
                  <span>Soft</span>
                </p>
              </div>
              <div>
                <p class="text-xs font-light text-moonlightText">
                  <span> #43444D</span>
                </p>
              </div>
            </div>
          </div>
          <div
            title="Click to copy"
            class="items-center w-full h-full mx-auto focus:outline-none"
          >
            <div
              class="bg-[#575861] h-24 w-full border border-moonlightFocusHigh"
            >
            </div>
            <div class="flex flex-col pt-4 text-left">
              <div>
                <p class="text-xs font-light capitalize i text-moonlightText">
                  <span>Slight</span>
                </p>
              </div>
              <div>
                <p class="text-xs font-light text-moonlightText">
                  <span> #575861</span>
                </p>
              </div>
            </div>
          </div>
          <div
            title="Click to copy"
            class="items-center w-full h-full mx-auto focus:outline-none"
          >
            <div
              class="bg-[#868690] h-24 w-full border border-moonlightFocusHigh"
            >
            </div>
            <div class="flex flex-col pt-4 text-left">
              <div>
                <p class="text-xs font-light capitalize i text-moonlightText">
                  <span>Text</span>
                </p>
              </div>
              <div>
                <p class="text-xs font-light text-moonlightText">
                  <span> #868690</span>
                </p>
              </div>
            </div>
          </div>
          <div
            title="Click to copy"
            class="items-center w-full h-full mx-auto focus:outline-none"
          >
            <div
              class="bg-[#121216] h-24 w-full border border-moonlightFocusHigh"
            >
            </div>
            <div class="flex flex-col pt-4 text-left">
              <div>
                <p class="text-xs font-light capitalize i text-moonlightText">
                  <span>Focus Low</span>
                </p>
              </div>
              <div>
                <p class="text-xs font-light text-moonlightText">
                  <span> #121216</span>
                </p>
              </div>
            </div>
          </div>
          <div
            title="Click to copy"
            class="items-center w-full h-full mx-auto focus:outline-none"
          >
            <div
              class="bg-[#1A1B1F] h-24 w-full border border-moonlightFocusHigh"
            >
            </div>
            <div class="flex flex-col pt-4 text-left">
              <div>
                <p class="text-xs font-light capitalize i text-moonlightText">
                  <span>Focus Medium</span>
                </p>
              </div>
              <div>
                <p class="text-xs font-light text-moonlightText">
                  <span> #1A1B1F</span>
                </p>
              </div>
            </div>
          </div>
          <div
            title="Click to copy"
            class="items-center w-full h-full mx-auto focus:outline-none"
          >
            <div
              class="bg-[#1F1F24] h-24 w-full border border-moonlightFocusHigh"
            >
            </div>
            <div class="flex flex-col pt-4 text-left">
              <div>
                <p class="text-xs font-light capitalize i text-moonlightText">
                  <span>Focus High</span>
                </p>
              </div>
              <div>
                <p class="text-xs font-light text-moonlightText">
                  <span> #1F1F24</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
