<section class="w-full mx-auto mx-full 2xl:max-w-7xl bg-sequoia">
  <div class="flex items-center justify-center w-full p-4 mx-auto sm:p-20">
    <div class="items-center w-full mx-auto 2xl:max-w-7xl lg:py-20">
      <div class="w-full mx-auto text-left">
        <h1 class="text-base font-light leading-none text-monochromeCloud">
          The color palette.
        </h1>
        <div class="max-w-xl">
          <p
            class="text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold md:mt-5"
          >
            Here are the three color palettes used on Sequoia, feel free to copy
            the color ( in one click ) and use them everywhere you want and
            need.
          </p>
          <div class="flex flex-col w-full max-w-xs mt-4 space-y-2">
            <p class="inline-flex justify-between w-full text-white">
              <a
                href="/"
                class="font-light no-underline text-monochromeCloud hover:text-white"
              >
                Home
              </a>
              ⟶
            </p>
            <p class="inline-flex justify-between w-full text-white">
              <a
                href="/ports"
                class="font-light no-underline text-monochromeCloud hover:text-white"
              >
                Platforms
              </a>
              ⟶
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
