{{>"global/snackbar"}}
<section class="w-full mx-auto mx-full 2xl:max-w-7xl">
  <div class="p-4 mx-auto sm:p-20">
    <div class="grid h-full grid-cols-1 gap-12 py-12 lg:grid-cols-2">
      <div class="grid grid-cols-1">
        <div
          class="inline-flex items-center justify-between gap-12 text-base font-light leading-none text-monochromeCloud"
        >
          <span>Moonlight</span>
          <p class="ml-auto text-white">

            <a
              href="https://vscode.dev/theme/wicked-labs.sequoia/Sequoia%20Moonlight"
              class="font-light no-underline text-monochromeCloud hover:text-white"
            >
              Preview on VS Code
            </a>
            &nbsp;
            ⟶
          </p>
        </div>
        <div class="grid grid-cols-2 gap-4 mt-4 md:grid-cols-3 lg:col-span-2">
          {{#each data.moonlight}}
          <button
            x-data="{}"
            title="Click to copy"
            data-clipboard-text="{{bg}}"
            @click="$dispatch('notice', {type: 'success', text: ' ✓ Color Copied To Clipboard!'})"
            class="items-center w-full h-full mx-auto duration-200 ease-in-out focus:outline-none copy-button hover:opacity-80"
          >
            <div
              class="bg-[{{bg}}]  h-24 w-full border border-moonlightFocusHigh"
            ></div>
            <div class="flex flex-col pt-4 text-left">
              <div>
                <p class="text-xs font-light capitalize i text-moonlightText">
                  <span>{{name}} </span>
                </p>
              </div>
              <div>
                <p class="text-xs font-light text-moonlightText">
                  <span> {{bg}} </span>
                </p>
              </div>
            </div>
          </button>
          {{/each}}
        </div>
      </div>
      <div class="grid grid-cols-1">
        <div
          class="inline-flex items-center justify-between gap-12 text-base font-light leading-none text-monochromeCloud"
        >
          <span>Monochrome</span>
          <p class="ml-auto text-white">
            <a
              href="https://vscode.dev/theme/wicked-labs.sequoia/Sequoia%20Monochrome"
              class="font-light no-underline text-monochromeCloud hover:text-white"
            >
              Preview on VS Code
            </a>
            &nbsp;
            ⟶
          </p>
        </div>
        <div class="grid grid-cols-2 gap-4 mt-4 md:grid-cols-3 lg:col-span-2">
          {{#each data.monochrome}}
          <button
            x-data="{}"
            title="Click to copy"
            data-clipboard-text="{{bg}}"
            @click="$dispatch('notice', {type: 'success', text: ' ✓ Color Copied To Clipboard!'})"
            class="items-center w-full h-full mx-auto duration-200 ease-in-out focus:outline-none copy-button hover:opacity-80"
          >
            <div
              class="bg-[{{bg}}]  h-24 w-full border border-moonlightFocusHigh"
            ></div>
            <div class="flex flex-col pt-4 text-left">
              <div>
                <p class="text-xs font-light capitalize i text-moonlightText">
                  <span>{{name}} </span>
                </p>
              </div>
              <div>
                <p class="text-xs font-light text-moonlightText">
                  <span> {{bg}} </span>
                </p>
              </div>
            </div>
          </button>
          {{/each}}
        </div>
      </div>
    </div>
    <div>
      <div class="grid grid-cols-1">
        <div class="text-base font-light leading-none text-monochromeCloud">
          <span>Base</span>
        </div>
        <div
          class="grid grid-cols-2 gap-4 mt-4 md:grid-cols-3 lg:grid-cols-9 lg:col-span-2"
        >
          {{#each data.base}}
          <button
            x-data="{}"
            title="Click to copy"
            data-clipboard-text="{{bg}}"
            @click="$dispatch('notice', {type: 'success', text: ' ✓ Color Copied To Clipboard!'})"
            class="items-center w-full h-full mx-auto duration-200 ease-in-out focus:outline-none copy-button hover:opacity-80"
          >
            <div
              class="bg-[{{bg}}]  h-24 w-full border border-moonlightFocusHigh"
            ></div>
            <div class="flex flex-col pt-4 text-left">
              <div>
                <p class="text-xs font-light capitalize i text-moonlightText">
                  <span>{{name}} </span>
                </p>
              </div>
              <div>
                <p class="text-xs font-light text-moonlightText">
                  <span> {{bg}} </span>
                </p>
              </div>
            </div>
          </button>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</section>
