<section class="w-full mx-auto mx-full 2xl:max-w-7xl">
  <div class="flex items-center justify-center w-full p-4 mx-auto sm:p-20">
    <div class="flex flex-col w-full">
      <div class="-mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
          <div class="overflow-hidden border border-white/10">
            <table class="min-w-full divide-y divide-white/10">
              <thead>
                <tr class="divide-x divide-white/10">
                  <th
                    scope="col"
                    class="py-3.5 pl-4 pr-4 text-left text-base font-light leading-none text-monochromeCloud sm:pl-6"
                  >
                    Platform
                  </th>
                  <th
                    scope="col"
                    class="px-4 py-3.5 text-left text-base font-light leading-none text-monochromeCloud"
                  >
                    Moonlight
                  </th>
                  <th
                    scope="col"
                    class="px-4 py-3.5 text-left text-base font-light leading-none text-monochromeCloud"
                  >
                    Monochrome
                  </th>
                  <th
                    scope="col"
                    class="py-3.5 pl-4 pr-4 text-left text-base font-light leading-none text-monochromeCloud sm:pr-6"
                  >
                    Link
                  </th>
                </tr>
              </thead>
              <tbody class="divide-y divide-white/10">
                <!-- Code editors... -->
                <tr class="bg-moonlightFocusMedium" colspan="5">
                  <td
                    colspan="5"
                    class="py-4 pl-4 pr-4 text-base font-light leading-none text-monochromeCloud whitespace-nowrap sm:pl-6"
                  >
                    Code editors
                  </td>
                </tr>
                <!-- Neo Vim-->
                <tr class="divide-x divide-white/10">
                  <td
                    class="py-4 pl-4 pr-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap sm:pl-6"
                  >
                    Neo Vim
                  </td>
                  <td
                    class="p-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      width="24"
                      height="24"
                    >
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path
                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"
                        fill="rgba(255,255,255,1)"></path>
                    </svg>
                  </td>
                  <td
                    class="p-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      width="24"
                      height="24"
                    >
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path
                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"
                        fill="rgba(255,255,255,1)"></path>
                    </svg>
                  </td>
                  <td
                    class="py-4 pl-4 pr-4 font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap sm:pr-6"
                  >
                    <a
                      href="https://github.com/Hiroya-W/sequoia-moonlight.nvim"
                      class="font-light no-underline text-monochromeCloud hover:text-monochromeKashmir"
                    >
                      Get it
                    </a>
                  </td>
                </tr>
                <!-- VS Code-->
                <tr class="divide-x divide-white/10">
                  <td
                    class="py-4 pl-4 pr-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap sm:pl-6"
                  >
                    VS Code
                  </td>
                  <td
                    class="p-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      width="24"
                      height="24"
                    >
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path
                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"
                        fill="rgba(255,255,255,1)"></path>
                    </svg>
                  </td>
                  <td
                    class="p-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      width="24"
                      height="24"
                    >
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path
                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"
                        fill="rgba(255,255,255,1)"></path>
                    </svg>
                  </td>
                  <td
                    class="py-4 pl-4 pr-4 font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap sm:pr-6"
                  >
                    <a
                      href="https://marketplace.visualstudio.com/items?itemName=wicked-labs.sequoia"
                      class="font-light no-underline text-monochromeCloud hover:text-monochromeKashmir"
                    >
                      Get it
                    </a>
                  </td>
                </tr>
                <!-- Open VSX -->
                <tr class="divide-x divide-white/10">
                  <td
                    class="py-4 pl-4 pr-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap sm:pl-6"
                  >
                    Open VSX
                  </td>
                  <td
                    class="p-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      width="24"
                      height="24"
                    >
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path
                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"
                        fill="rgba(255,255,255,1)"></path>
                    </svg>
                  </td>
                  <td
                    class="p-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      width="24"
                      height="24"
                    >
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path
                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"
                        fill="rgba(255,255,255,1)"></path>
                    </svg>
                  </td>
                  <td
                    class="py-4 pl-4 pr-4 font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap sm:pr-6"
                  >
                    <a
                      href="https://github.com/Sequoia-Theme/openvsx"
                      class="font-light no-underline text-monochromeCloud hover:text-monochromeKashmir"
                    >
                      Get it
                    </a>
                  </td>
                </tr>
                <!-- CodeSandbox -->
                <tr class="divide-x divide-white/10">
                  <td
                    class="py-4 pl-4 pr-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap sm:pl-6"
                  >
                    CodeSandbox
                  </td>
                  <td
                    class="p-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      width="24"
                      height="24"
                    >
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path
                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"
                        fill="rgba(255,255,255,1)"></path>
                    </svg>
                  </td>
                  <td
                    class="p-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      width="24"
                      height="24"
                    >
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path
                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"
                        fill="rgba(255,255,255,1)"></path>
                    </svg>
                  </td>
                  <td
                    class="py-4 pl-4 pr-4 font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap sm:pr-6"
                  >
                    <a
                      href="https://github.com/Sequoia-Theme/CodeSandbox"
                      class="font-light no-underline text-monochromeCloud hover:text-monochromeKashmir"
                    >
                      Get it
                    </a>
                  </td>
                </tr>
                <!-- Highilight.js -->
                <tr class="divide-x divide-white/10">
                  <td
                    class="py-4 pl-4 pr-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap sm:pl-6"
                  >
                    Highlight.js
                  </td>
                  <td
                    class="p-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      width="24"
                      height="24"
                    >
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path
                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"
                        fill="rgba(255,255,255,1)"></path>
                    </svg>
                  </td>
                  <td
                    class="p-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      width="24"
                      height="24"
                    >
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path
                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"
                        fill="rgba(255,255,255,1)"></path>
                    </svg>
                  </td>
                  <td
                    class="py-4 pl-4 pr-4 font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap sm:pr-6"
                  >
                    <a
                      href="https://github.com/Sequoia-Theme/highlight.js"
                      class="font-light no-underline text-monochromeCloud hover:text-monochromeKashmir"
                    >
                      Get it
                    </a>
                  </td>
                </tr>

                <!-- Terminal... -->
                <tr class="bg-moonlightFocusMedium" colspan="5">
                  <td
                    colspan="5"
                    class="py-4 pl-4 pr-4 text-base font-light leading-none text-monochromeCloud whitespace-nowrap sm:pl-6"
                  >
                    Terminals
                  </td>
                </tr>
                <!-- iTerm... -->
                <tr class="divide-x divide-white/10">
                  <td
                    class="py-4 pl-4 pr-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap sm:pl-6"
                  >
                    iTerm
                  </td>
                  <td
                    class="p-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      width="24"
                      height="24"
                    >
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path
                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"
                        fill="rgba(255,255,255,1)"></path>
                    </svg>
                  </td>
                  <td
                    class="p-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      width="24"
                      height="24"
                    >
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path
                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"
                        fill="rgba(255,255,255,1)"></path>
                    </svg>
                  </td>
                  <td
                    class="py-4 pl-4 pr-4 font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap sm:pr-6"
                  >
                    <a
                      href="https://github.com/Sequoia-Theme/iTerm"
                      class="font-light no-underline text-monochromeCloud hover:text-monochromeKashmir"
                    >
                      Get it
                    </a>
                  </td>
                </tr>
                <!-- wezterm... -->
                <tr class="divide-x divide-white/10">
                  <td
                    class="py-4 pl-4 pr-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap sm:pl-6"
                  >
                    Wezterm
                  </td>
                  <td
                    class="p-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      width="24"
                      height="24"
                    >
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path
                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"
                        fill="rgba(255,255,255,1)"></path>
                    </svg>
                  </td>
                  <td
                    class="p-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      width="24"
                      height="24"
                    >
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path
                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"
                        fill="rgba(255,255,255,1)"></path>
                    </svg>
                  </td>
                  <td
                    class="py-4 pl-4 pr-4 font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap sm:pr-6"
                  >
                    <a
                      href="https://github.com/Hiroya-W/wezterm-sequoia-theme"
                      class="font-light no-underline text-monochromeCloud hover:text-monochromeKashmir"
                    >
                      Get it
                    </a>
                  </td>
                </tr>
                <!-- Apps... -->
                <tr class="bg-moonlightFocusMedium" colspan="5">
                  <td
                    colspan="5"
                    class="py-4 pl-4 pr-4 text-base font-light leading-none text-monochromeCloud whitespace-nowrap sm:pl-6"
                  >
                    Apps
                  </td>
                </tr>
                <!-- Linear App -->
                <tr class="divide-x divide-white/10">
                  <td
                    class="py-4 pl-4 pr-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap sm:pl-6"
                  >
                    Linear App
                  </td>
                  <td
                    class="p-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      width="24"
                      height="24"
                    >
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path
                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"
                        fill="rgba(255,255,255,1)"></path>
                    </svg>
                  </td>
                  <td
                    class="p-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      width="24"
                      height="24"
                    >
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path
                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"
                        fill="rgba(255,255,255,1)"></path>
                    </svg>
                  </td>
                  <td
                    class="py-4 pl-4 pr-4 font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap sm:pr-6"
                  >
                    <a
                      href="https://github.com/Sequoia-Theme/linear-app"
                      class="font-light no-underline text-monochromeCloud hover:text-monochromeKashmir"
                    >
                      Get it
                    </a>
                  </td>
                </tr>
                <!-- Youtube -->
                <tr class="divide-x divide-white/10">
                  <td
                    class="py-4 pl-4 pr-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap sm:pl-6"
                  >
                    YouTube
                  </td>
                  <td
                    class="p-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      width="24"
                      height="24"
                    >
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path
                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"
                        fill="rgba(255,255,255,1)"></path>
                    </svg>
                  </td>
                  <td
                    class="p-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      width="24"
                      height="24"
                    >
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path
                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"
                        fill="rgba(255,255,255,1)"></path>
                    </svg>
                  </td>
                  <td
                    class="py-4 pl-4 pr-4 font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap sm:pr-6"
                  >
                    <a
                      href="https://github.com/Sequoia-Theme/youtube"
                      class="font-light no-underline text-monochromeCloud hover:text-monochromeKashmir"
                    >
                      Get it
                    </a>
                  </td>
                </tr>
                <!-- Discord -->
                <tr class="divide-x divide-white/10">
                  <td
                    class="py-4 pl-4 pr-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap sm:pl-6"
                  >
                    Discord
                  </td>
                  <td
                    class="p-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      width="24"
                      height="24"
                    >
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path
                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"
                        fill="rgba(255,255,255,1)"></path>
                    </svg>
                  </td>
                  <td
                    class="p-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      width="24"
                      height="24"
                    >
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path
                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"
                        fill="rgba(255,255,255,1)"></path>
                    </svg>
                  </td>
                  <td
                    class="py-4 pl-4 pr-4 font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap sm:pr-6"
                  >
                    <a
                      href="https://github.com/Sequoia-Theme/discord"
                      class="font-light no-underline text-monochromeCloud hover:text-monochromeKashmir"
                    >
                      Get it
                    </a>
                  </td>
                </tr>

                <!-- Github Readme Stats... -->
                <tr class="divide-x divide-white/10">
                  <td
                    class="py-4 pl-4 pr-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap sm:pl-6"
                  >
                    GitHub READ.me Stats
                  </td>
                  <td
                    class="p-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      width="24"
                      height="24"
                    >
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path
                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"
                        fill="rgba(255,255,255,1)"></path>
                    </svg>
                  </td>
                  <td
                    class="p-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      width="24"
                      height="24"
                    >
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path
                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"
                        fill="rgba(255,255,255,1)"></path>
                    </svg>
                  </td>
                  <td
                    class="py-4 pl-4 pr-4 font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap sm:pr-6"
                  >
                    <a
                      href="https://github.com/Sequoia-Theme/github-readme-stats"
                      class="font-light no-underline text-monochromeCloud hover:text-monochromeKashmir"
                    >
                      Get it
                    </a>
                  </td>
                </tr>
                <!-- Mattermost -->
                <tr class="divide-x divide-white/10">
                  <td
                    class="py-4 pl-4 pr-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap sm:pl-6"
                  >
                    Mattermost
                  </td>
                  <td
                    class="p-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      width="24"
                      height="24"
                    >
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path
                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"
                        fill="rgba(255,255,255,1)"></path>
                    </svg>
                  </td>
                  <td
                    class="p-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      width="24"
                      height="24"
                    >
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path
                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"
                        fill="rgba(255,255,255,1)"></path>
                    </svg>
                  </td>
                  <td
                    class="py-4 pl-4 pr-4 font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap sm:pr-6"
                  >
                    <a
                      href="https://github.com/Sequoia-Theme/Mattermost"
                      class="font-light no-underline text-monochromeCloud hover:text-monochromeKashmir"
                    >
                      Get it
                    </a>
                  </td>
                </tr>
                <!-- Bear blog -->
                <tr class="divide-x divide-white/10">
                  <td
                    class="py-4 pl-4 pr-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap sm:pl-6"
                  >
                    Bear blog
                  </td>
                  <td
                    class="p-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      width="24"
                      height="24"
                    >
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path
                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"
                        fill="rgba(255,255,255,1)"></path>
                    </svg>
                  </td>
                  <td
                    class="p-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      width="24"
                      height="24"
                    >
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path
                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"
                        fill="rgba(255,255,255,1)"></path>
                    </svg>
                  </td>
                  <td
                    class="py-4 pl-4 pr-4 font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap sm:pr-6"
                  >
                    <a
                      href="https://github.com/Sequoia-Theme/bear-blog"
                      class="font-light no-underline text-monochromeCloud hover:text-monochromeKashmir"
                    >
                      Get it
                    </a>
                  </td>
                </tr>
                <!-- Slack Channel -->
                <tr class="divide-x divide-white/10">
                  <td
                    class="py-4 pl-4 pr-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap sm:pl-6"
                  >
                    Slack Channel
                  </td>
                  <td
                    class="p-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      width="24"
                      height="24"
                    >
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path
                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"
                        fill="rgba(255,255,255,1)"></path>
                    </svg>
                  </td>
                  <td
                    class="p-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      width="24"
                      height="24"
                    >
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path
                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"
                        fill="rgba(255,255,255,1)"></path>
                    </svg>
                  </td>
                  <td
                    class="py-4 pl-4 pr-4 font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap sm:pr-6"
                  >
                    <a
                      href="https://github.com/Sequoia-Theme/slack-channel"
                      class="font-light no-underline text-monochromeCloud hover:text-monochromeKashmir"
                    >
                      Get it
                    </a>
                  </td>
                </tr>
                <!-- Dot files -->
                <tr class="divide-x divide-white/10">
                  <td
                    class="py-4 pl-4 pr-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap sm:pl-6"
                  >
                    Dot Files
                  </td>
                  <td
                    class="p-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      width="24"
                      height="24"
                    >
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path
                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"
                        fill="rgba(255,255,255,1)"></path>
                    </svg>
                  </td>
                  <td
                    class="p-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      width="24"
                      height="24"
                    >
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path
                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"
                        fill="rgba(255,255,255,1)"></path>
                    </svg>
                  </td>
                  <td
                    class="py-4 pl-4 pr-4 font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap sm:pr-6"
                  >
                    <a
                      href="hhttps://github.com/Hiroya-W/dotfiles"
                      class="font-light no-underline text-monochromeCloud hover:text-monochromeKashmir"
                    >
                      Get it
                    </a>
                  </td>
                </tr>

                <!-- Code... -->
                <tr class="bg-moonlightFocusMedium" colspan="5">
                  <td
                    colspan="5"
                    class="py-4 pl-4 pr-4 text-base font-light leading-none text-monochromeCloud whitespace-nowrap sm:pl-6"
                  >
                    Code
                  </td>
                </tr>
                <!-- Daisy UI -->
                <tr class="divide-x divide-white/10">
                  <td
                    class="py-4 pl-4 pr-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap sm:pl-6"
                  >
                    Daisy UI
                  </td>
                  <td
                    class="p-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      width="24"
                      height="24"
                    >
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path
                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"
                        fill="rgba(255,255,255,1)"></path>
                    </svg>
                  </td>
                  <td
                    class="p-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      width="24"
                      height="24"
                    >
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path
                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"
                        fill="rgba(255,255,255,1)"></path>
                    </svg>
                  </td>
                  <td
                    class="py-4 pl-4 pr-4 font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap sm:pr-6"
                  >
                    <a
                      href="https://github.com/Sequoia-Theme/daisy-ui"
                      class="font-light no-underline text-monochromeCloud hover:text-monochromeKashmir"
                    >
                      Get it
                    </a>
                  </td>
                </tr>
                <!-- Tailwind CSS -->
                <tr class="divide-x divide-white/10">
                  <td
                    class="py-4 pl-4 pr-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap sm:pl-6"
                  >
                    Tailwind CSS
                  </td>
                  <td
                    class="p-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      width="24"
                      height="24"
                    >
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path
                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"
                        fill="rgba(255,255,255,1)"></path>
                    </svg>
                  </td>
                  <td
                    class="p-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      width="24"
                      height="24"
                    >
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path
                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"
                        fill="rgba(255,255,255,1)"></path>
                    </svg>
                  </td>
                  <td
                    class="py-4 pl-4 pr-4 font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap sm:pr-6"
                  >
                    <a
                      href="https://github.com/Sequoia-Theme/color-palette/blob/main/tailwind.config.js"
                      class="font-light no-underline text-monochromeCloud hover:text-monochromeKashmir"
                    >
                      Get it
                    </a>
                  </td>
                </tr>
                <!-- SCSS -->
                <tr class="divide-x divide-white/10">
                  <td
                    class="py-4 pl-4 pr-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap sm:pl-6"
                  >
                    SCSS
                  </td>
                  <td
                    class="p-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      width="24"
                      height="24"
                    >
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path
                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"
                        fill="rgba(255,255,255,1)"></path>
                    </svg>
                  </td>
                  <td
                    class="p-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      width="24"
                      height="24"
                    >
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path
                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"
                        fill="rgba(255,255,255,1)"></path>
                    </svg>
                  </td>
                  <td
                    class="py-4 pl-4 pr-4 font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap sm:pr-6"
                  >
                    <a
                      href="https://github.com/Sequoia-Theme/color-palette/blob/main/palettes.scss"
                      class="font-light no-underline text-monochromeCloud hover:text-monochromeKashmir"
                    >
                      Get it
                    </a>
                  </td>
                </tr>
                <!-- json-viewer -->
                <tr class="divide-x divide-white/10">
                  <td
                    class="py-4 pl-4 pr-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap sm:pl-6"
                  >
                    Json Viwer
                  </td>
                  <td
                    class="p-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      width="24"
                      height="24"
                    >
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path
                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"
                        fill="rgba(255,255,255,1)"></path>
                    </svg>
                  </td>
                  <td
                    class="p-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      width="24"
                      height="24"
                    >
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path
                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"
                        fill="rgba(255,255,255,1)"></path>
                    </svg>
                  </td>
                  <td
                    class="py-4 pl-4 pr-4 font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap sm:pr-6"
                  >
                    <a
                      href="https://github.com/Sequoia-Theme/json-viewer"
                      class="font-light no-underline text-monochromeCloud hover:text-monochromeKashmir"
                    >
                      Get it
                    </a>
                  </td>
                </tr>

                <!-- Swatches... -->
                <tr class="bg-moonlightFocusMedium" colspan="5">
                  <td
                    colspan="5"
                    class="py-4 pl-4 pr-4 text-base font-light leading-none text-monochromeCloud whitespace-nowrap sm:pl-6"
                  >
                    Swatches
                  </td>
                </tr>
                <!-- ASE... -->
                <tr class="divide-x divide-white/10">
                  <td
                    class="py-4 pl-4 pr-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap sm:pl-6"
                  >
                    ASE
                  </td>
                  <td
                    class="p-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      width="24"
                      height="24"
                    >
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path
                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"
                        fill="rgba(255,255,255,1)"></path>
                    </svg>
                  </td>
                  <td
                    class="p-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      width="24"
                      height="24"
                    >
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path
                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"
                        fill="rgba(255,255,255,1)"></path>
                    </svg>
                  </td>
                  <td
                    class="py-4 pl-4 pr-4 font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap sm:pr-6"
                  >
                    <a
                      href="https://github.com/Sequoia-Theme/ASE"
                      class="font-light no-underline text-monochromeCloud hover:text-monochromeKashmir"
                    >
                      Get it
                    </a>
                  </td>
                </tr>

                <!-- Widgets... -->
                <tr class="bg-moonlightFocusMedium" colspan="5">
                  <td
                    colspan="5"
                    class="py-4 pl-4 pr-4 text-base font-light leading-none text-monochromeCloud whitespace-nowrap sm:pl-6"
                  >
                    Widgets
                  </td>
                </tr>
                <!-- Polybar -->
                <tr class="divide-x divide-white/10">
                  <td
                    class="py-4 pl-4 pr-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap sm:pl-6"
                  >
                    Polybar
                  </td>
                  <td
                    class="p-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      width="24"
                      height="24"
                    >
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path
                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"
                        fill="rgba(255,255,255,1)"></path>
                    </svg>
                  </td>
                  <td
                    class="p-4 text-monochromeCloud font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      width="24"
                      height="24"
                    >
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path
                        d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"
                        fill="rgba(255,255,255,1)"></path>
                    </svg>
                  </td>
                  <td
                    class="py-4 pl-4 pr-4 font-thin tracking-[0.072rem] leading-loose text-semibold whitespace-nowrap sm:pr-6"
                  >
                    <a
                      href="https://github.com/Hiroya-W/polybar-sequoia-theme"
                      class="font-light no-underline text-monochromeCloud hover:text-monochromeKashmir"
                    >
                      Get it
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
