<footer
  aria-labelledby="footer-heading"
  class="mx-auto border-t border-moonlightSoft"
>
  <div
    class="relative 2xl:max-w-7xl items-center lg:px-16 md:px-12 px-8 py-12 w-xl xl:px-20"
  >
    <div
      class="lg:items-center flex flex-col gap-y-12 items-start justify-between l lg:flex-row pb-6"
    >
      <div>
        <div class="items-center flex text-monochromeCloud">
          <div>
            <div>
              <span
                class="inline-flex items-center transition duration-500 ease-in-out transform lg:text-2xl tracking-relaxed"
              >
                <svg
                  class="w-6 h-6"
                  viewBox="0 0 374 374"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle
                    cx="187"
                    cy="187"
                    r="186"
                    transform="rotate(129.927 187 187)"
                    fill="url(#paint0_linear_4_59)"></circle>
                  <defs>
                    <linearGradient
                      id="paint0_linear_4_59"
                      x1="315"
                      y1="53"
                      x2="157"
                      y2="187"
                      gradientUnits="userSpaceOnUse"
                    >
                      <stop stop-color="#FDFDFE"></stop>
                      <stop offset="0.145833" stop-color="#FFBB88"></stop>
                      <stop offset="0.286458" stop-color="#FF7CBA"></stop>
                      <stop offset="0.432292" stop-color="#887BFF"></stop>
                      <stop offset="0.802083" stop-color="#03C7F6"></stop>
                      <stop offset="1" stop-color="#111216"></stop>
                    </linearGradient>
                  </defs>
                </svg>
              </span>
            </div>
            <a
              class="text-monochromeCloud hover:text-moonlightStone font-bold italic lg: lg:text-4xl text-2xl"
              href="https://unwrapped.design/">unwrapped.</a
            ><p class="mt-1 text-sm text-zinc-400">
              Digital resources for digital designers and<br />web developers by
              Michael Andreuzza
            </p>
          </div>
        </div>
        <nav class="flex flex-col gap-6 lg:flex-row mt-11">
          <a
            class="relative -my-2 delay-150 hover:text-moonlightStone py-2 rounded-lg text-sm text-monochromeCloud transition-colors"
            href="https://acclivity.unwrapped.design"
            ><span class="relative z-10">acclivity.</span>
          </a>
          <a
            class="relative -my-2 delay-150 hover:text-moonlightStone py-2 rounded-lg text-sm text-monochromeCloud transition-colors"
            href="https://monoqrom.unwrapped.design"
            ><span class="relative z-10">monoqrom.</span>
          </a><a
            class="relative -my-2 delay-150 hover:text-moonlightStone py-2 rounded-lg text-sm text-monochromeCloud transition-colors"
            href="https://svgdoodles.com"
            ><span class="relative z-10">svgdoodles.</span>
          </a><a
            class="relative -my-2 delay-150 hover:text-moonlightStone py-2 rounded-lg text-sm text-monochromeCloud transition-colors"
            href="https://colorsandfonts.com"
            ><span class="relative z-10">colorsandfonts.</span>
          </a>
        </nav><nav class="mt-6 flex flex-col gap-6 lg:flex-row lg:mt-12">
          <a
            class="relative -my-2 delay-150 hover:text-moonlightStone py-2 rounded-lg text-sm text-monochromeCloud transition-colors"
            href="https://svggradients.com"
            ><span class="relative z-10">svggradients.</span>
          </a>
          <a
            class="relative -my-2 delay-150 hover:text-moonlightStone py-2 rounded-lg text-sm text-monochromeCloud transition-colors"
            href="https://serendipitytheme.com"
            ><span class="relative z-10">serendipitytheme.</span>
          </a><a
            class="relative -my-2 delay-150 hover:text-moonlightStone py-2 rounded-lg text-sm text-monochromeCloud transition-colors"
            href="https://sequoiatheme.com"
            ><span class="relative z-10">sequoiatheme.</span>
          </a><a
            class="relative -my-2 delay-150 hover:text-moonlightStone py-2 rounded-lg text-sm text-monochromeCloud transition-colors"
            href="https://brutalist.one"
            ><span class="relative z-10">brutalistone.</span>
          </a><a
            class="relative -my-2 delay-150 hover:text-moonlightStone py-2 rounded-lg text-sm text-monochromeCloud transition-colors"
            href="https://twitter.com/Mike_Andreuzza"
            ><span class="relative z-10">Social</span>
          </a>
        </nav>
      </div>
    </div><div class="flex flex-col border-t border-zinc-800 md:pt-6 pt-8">
      <p class="mt-6 text-zinc-500 md:mt-0 text-sm">
        © Unwrapped since 2018 • Copyright 2022 • All rights reserved.
      </p>
    </div>
  </div>
</footer>
